name: Build, Push
on:
  push:
    branches:
      - master

env:
  REGISTRY: "niknike"

jobs:
  build-and-push:
    name: Build and push images
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ env.REGISTRY }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build images with compose
        run: |
          docker compose build
      
      - name: Tag and push images
        run: |          
          docker push ${{ env.REGISTRY }}/bazaar:latest
          docker push ${{ env.REGISTRY }}/user-service:latest
          docker push ${{ env.REGISTRY }}/auth-service:latest
          docker push ${{ env.REGISTRY }}/review-service:latest
          docker push ${{ env.REGISTRY }}/csat-service:latest