name: GoLangTest

on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - master

jobs:
  tests:
    name: Run Go Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout infrastructure
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Install dependencies
        run: go mod tidy

      - name: Install golint
        run: go install golang.org/x/lint/golint@latest

      - name: Run golint
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          golint ./...

      - name: Run tests
        run: make test
